<div class="col-lg-6" *ngIf="identity">
    <h1>{{titulo}} {{user.name}}</h1>
    <!--Formulario-->

    <div class="col-lg-y6"> 
            <div *ngIf="alertUpdate"> 
                  <div class="alert alert-primary" role="alert">
                          {{alertUpdate}}
                  </div>
            </div>
            <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6"> 
                <p>
                    <label>Nombres:</label>
                    <input type="text" class="form-control" #name="ngModel" name="name"  [(ngModel)]="user.name" required /> 
                    <span *ngIf="!name.valid && name.touched">
                        El nombre es obligatiorio 
                    </span>
                </p>
                <p>
                    <label>Apellidos:</label>
                    <input type="text" class="form-control" #surname="ngModel" name="surname"[(ngModel)]="user.surname" required /> 
                    <span *ngIf="!surname.valid && surname.touched">
                          El apellido es obligatiorio 
                    </span>
                </p>
                <p>
                      <label>Correo Electronico:</label>
                      <input type="text" #email="ngModel" name="email"  [(ngModel)]="user.email" class="form-control" required /> 
                      <span *ngIf="!email.valid && email.touched"> 
                        El email es obligatiorio
                      </span>
                </p>

                <div class="image_for_edit" *ngIf="user.image && user.image != 'null'" > 
                    <img src="{{url+'get-image-user/'+user.image}}" style="width:50px;"/> 
                </div> 
                <p> 
                    <label> Sube tu foto: </label>
                    <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent ($event)"/> 
                </p>
          
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </form>
        </div>
      </div>
